body {
  margin-top: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin-left: 30px;
  width: 100%;
}

.main {
  display: flex;
}

aside {
  width: 10%;
}

.icon {
  margin-right: 10px;
}

.menuIcon{
  font-size: 20px;
}

.menu {
  width: 100%;
  margin-top: 5px;
  margin-left: 15px;
  font-weight: 500;
}

.selectPage {
  color: rgb(125, 125, 125);
  margin-top: 5px;
  border: solid;
  border-color: #cae4fc;
  border-width: 2px;
  border-radius: 5px;
}

.link {
  cursor: pointer;
  color: rgb(56, 109, 255);
}

.profile {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 15px;
  font-size: 17px;
  background-color: rgb(67, 161, 255);
  color: #fff
}

.profile .icon {
  font-size: 35px;
}

.countData {
  margin-bottom: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.status {
  color: white;
  width: 100%;
  border-radius: 5px;
  font-weight: 500;
}

.new {
  background-color: #b8b8b7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.approved {
  background-color: #1c77cc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inWork {
  background-color: #FFBA00;
  display: flex;
  align-items: center;
  justify-content: center;
}

.complited {
  background-color: #24b317;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canceled {
  background-color: #f7472b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconStatus {
  margin-right: 5px;
}

.input {
  width: 14%;
}

.dropDownList {
  width: 14%;
}

.select {
  width: 100%;
  margin-bottom: 3px;
}

p {
  margin: 0;
}

.filters {
  margin-bottom: 5px;
}

.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
  border: solid;
  border-color: #cae4fc;
  box-shadow: 5px 3px 3px #cae4fc;
  border-width: 2px;
  border-radius: 5px;
  padding: 0 7px 7px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pageSize {
  display: flex;
  margin-left: 3px;

  width: 4%;
}

.table{
  margin-left: 30px;
  width: 98%;
}

.tableTitle {
  font-weight: 500;
}

.titleModalWindow{
  display: flex;
  font-size: 17px;
  justify-content: space-between;
  margin-bottom: 5px;
}

.modalWindow{
  font-weight: 550;
  color: #fff;
}
.mainModalWindow{
  border-radius: 5px;
  background-color: #6493A0;
  max-width: 90%;
  padding: 10px 24px;
}

.confAndEnv{
  display: flex;
}

.dataAndRepl{
  display:flex;
}

.configuration, .environment, .datacenter, .isReplication{
  width: 50%;
  margin-right: 10px;
}

.modalSelect{
  width: 100%;
}

.modalStatus{
  width: 35%;
  border-radius: 5px;
}

.modalTitleAndIcon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.modalTitle{
  border-radius: 5px;
  background-color: #6493A0;
  width: 60%;
  text-align: center;
}

.modalIcon{
  font-size: 30px;
  color: #6493A0;
}

.collapsed{
  display: none
}